fastapi==0.115.12
passlib==1.7.4
pydantic==2.11.5
pydantic_settings==2.9.1
pytest==6.2.5
Requests==2.32.3
sentry_sdk==2.29.1
SQLAlchemy==2.0.41
psycopg2-binary
alembic
PyJWT
uvicorn[standard]
pydantic[email]